body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

#dealer-list {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#dealer-list h2 {
    text-align: center;
}

ul#dealerships {
    list-style-type: none;
    padding: 0;
}

ul#dealerships li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}